* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
}

.box {
    height: calc(100vh / 5);
    border: 1px solid black;
    background-color: rgba(255,192,203,255);
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pd-2 {
    padding: 2px;
}

.box-nested {
    height: calc(100vh / 5 - 2px);
    text-align: center;
    background-color: rgba(240,127,128,255);
}

.col-xs-1 {
    flex-basis: calc((100% / 12) * 1);
    max-width: calc((100% / 12) * 1)
}

.col-xs-2 {
    flex-basis: calc((100% / 12) * 2);
    max-width: calc((100% / 12) * 2)
}

.col-xs-3 {
    flex-basis: calc((100% / 12) * 3);
    max-width: calc((100% / 12) * 3)
}

.col-xs-4 {
    flex-basis: calc((100% / 12) * 4);
    max-width: calc((100% / 12) * 4)
}

.col-xs-5 {
    flex-basis: calc((100% / 12) * 5);
    max-width: calc((100% / 12) * 5)
}

.col-xs-6 {
    flex-basis: calc((100% / 12) * 6);
    max-width: calc((100% / 12) * 6)
}

.col-xs-7 {
    flex-basis: calc((100% / 12) * 7);
    max-width: calc((100% / 12) * 7)
}

.col-xs-8 {
    flex-basis: calc((100% / 12) * 8);
    max-width: calc((100% / 12) * 8)
}

.col-xs-9 {
    flex-basis: calc((100% / 12) * 9);
    max-width: calc((100% / 12) * 9)
}

.col-xs-10 {
    flex-basis: calc((100% / 12) * 10);
    max-width: calc((100% / 12) * 10)
}

.col-xs-11 {
    flex-basis: calc((100% / 12) * 11);
    max-width: calc((100% / 12) * 11)
}

.col-xs-12 {
    flex-basis: calc((100% / 12) * 12);
    max-width: calc((100% / 12) * 12)
}